<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>member-signup.html</h1>
<fieldset>
    <legend>회원가입</legend>
    <form action = "/member-signup-service" method="post">
        <input type = "email" name="email" placeholder = "이메일">
        <input type = "password" name="password" placeholder = "비밀번호">
        <input type = "password" placeholder = "비밀번호 확인">
        <input type = "text" name="nickname" placeholder = "닉네임">
        <input type="text" name="name" placeholder="이름">
        <input type="tel"  name="phone" placeholder="전화번호">
        <input type = "submit" value = "회원가입">
        <input type = "reset" value = "재입력">
    </form>
</fieldset>
</body>
</html>